<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="vn.seasoft.readerbook"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    android:versionCode="7"
    android:versionName="1.2">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:name=".SSReaderApplication"
        android:allowBackup="true"
        android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|smallestScreenSize|locale"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name="vn.seasoft.readerbook.MainActivity"
            android:configChanges="keyboardHidden|locale|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/HoloThemeWithSliderMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".actTutorial"
            android:parentActivityName=".MainActivity"
            android:theme="@style/HoloThemeLightDarkActionbar">

        </activity>

        <activity
            android:name=".actSearchBooks"
            android:configChanges="orientation|keyboardHidden|locale|screenSize"
            android:parentActivityName=".MainActivity"
            android:theme="@style/HoloThemeLightDarkActionbar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".actInfoBook"
            android:configChanges="orientation|keyboardHidden|locale|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/HoloThemeLightDarkActionbar"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".actReadPictureBook"
            android:configChanges="orientation|keyboardHidden|locale|screenSize"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Holo.Theme.Light.NoActionBar.Fullscreen">
        </activity>


        <activity
            android:name="org.coolreader.CoolReader"
            android:configChanges="orientation|keyboardHidden|locale|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host=""
                    android:scheme="file"/>
                <data android:pathPattern=".*\\.fb2\\.zip"/>
                <data android:pathPattern=".*\\.zip"/>
                <data android:pathPattern=".*\\.fb2"/>
                <data android:pathPattern=".*\\.txt"/>
                <data android:pathPattern=".*\\.html"/>
                <data android:pathPattern=".*\\.xhtml"/>
                <data android:pathPattern=".*\\.htm"/>
                <data android:pathPattern=".*\\.chm"/>
                <data android:pathPattern=".*\\.epub"/>
                <data android:pathPattern=".*\\.pdb"/>
                <data android:pathPattern=".*\\.doc"/>
                <data android:pathPattern=".*\\.prc"/>
                <data android:pathPattern=".*\\.pml"/>
                <data android:pathPattern=".*\\.mobi"/>
                <data android:pathPattern=".*\\.azw"/>
                <data android:pathPattern=".*\\.tcr"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host=""
                    android:scheme="file"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="text/html"/>
                <data android:mimeType="application/zip"/>
                <data android:mimeType="application/rtf"/>
                <data android:mimeType="application/msword"/>
                <data android:mimeType="application/x-rtf"/>
                <data android:mimeType="text/richtext"/>
                <data android:mimeType="application/epub+zip"/>
                <data android:mimeType="application/x-chm"/>
                <data android:mimeType="application/msword"/>
                <data android:mimeType="application/fb2"/>
                <data android:mimeType="application/fb2.zip"/>
                <data android:mimeType="application/epub"/>
                <data android:mimeType="application/x-fictionbook"/>
                <data android:mimeType="application/doc"/>
                <data android:mimeType="application/vnd.msword"/>
                <data android:mimeType="application/vnd.ms-word"/>
                <data android:mimeType="application/winword"/>
                <data android:mimeType="application/word"/>
                <data android:mimeType="application/x-msw6"/>
                <data android:mimeType="application/x-msword"/>
            </intent-filter>
        </activity>

        <!-- Sync support -->
        <service android:name="org.coolreader.sync.SyncService"/>
        <!-- Database service -->
        <service android:name="org.coolreader.db.CRDBService"/>

        <!--<activity-->
        <!--android:name="com.facebook.LoginActivity"-->
        <!--android:label="@string/app_name"/>-->
        <!--<meta-data-->
        <!--android:name="com.facebook.sdk.ApplicationId"-->
        <!--android:value="@string/app_id"/>-->
    </application>

</manifest>
