<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="vn.seasoft.sachcuatui"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    android:versionCode="10"
    android:versionName="1.2.2">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <!--
     Creates a custom permission so only this app can receive its messages.

     NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
           where PACKAGE is the application's package name.
    -->
    <permission
        android:name="vn.seasoft.sachcuatui.permission.C2D_MESSAGE" 
        android:protectionLevel="signature"/>
    
    <uses-permission
        android:name="vn.seasoft.sachcuatui.permission.C2D_MESSAGE"/>

    <!-- This app has permission to register and receive data message. -->
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE"/>


    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:name=".SSReaderApplication"
        android:allowBackup="true"
        android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|smallestScreenSize|locale"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|locale|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/HoloThemeWithSliderMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".actTutorial"
            android:parentActivityName=".MainActivity"
            android:theme="@style/HoloThemeLightDarkActionbar">

        </activity>

        <activity
            android:name=".actPdfView"
            android:parentActivityName=".MainActivity"
            android:theme="@style/HoloThemeLightDarkActionbar">

        </activity>

        <activity
            android:name=".actSearchBooks"
            android:configChanges="orientation|keyboardHidden|locale|screenSize"
            android:parentActivityName=".MainActivity"
            android:theme="@style/HoloThemeLightDarkActionbar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".actInfoBook"
            android:configChanges="orientation|keyboardHidden|locale|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/HoloThemeLightDarkActionbar"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".actReadPictureBook"
            android:configChanges="orientation|keyboardHidden|locale|screenSize"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Holo.Theme.Light.NoActionBar.Fullscreen">
        </activity>


        <activity
            android:name="org.coolreader.CoolReader"
            android:configChanges="orientation|keyboardHidden|locale|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host=""
                    android:scheme="file"/>
                <data android:pathPattern=".*\\.fb2\\.zip"/>
                <data android:pathPattern=".*\\.zip"/>
                <data android:pathPattern=".*\\.fb2"/>
                <data android:pathPattern=".*\\.txt"/>
                <data android:pathPattern=".*\\.html"/>
                <data android:pathPattern=".*\\.xhtml"/>
                <data android:pathPattern=".*\\.htm"/>
                <data android:pathPattern=".*\\.chm"/>
                <data android:pathPattern=".*\\.epub"/>
                <data android:pathPattern=".*\\.pdb"/>
                <data android:pathPattern=".*\\.doc"/>
                <data android:pathPattern=".*\\.prc"/>
                <data android:pathPattern=".*\\.pml"/>
                <data android:pathPattern=".*\\.mobi"/>
                <data android:pathPattern=".*\\.azw"/>
                <data android:pathPattern=".*\\.tcr"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host=""
                    android:scheme="file"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="text/html"/>
                <data android:mimeType="application/zip"/>
                <data android:mimeType="application/rtf"/>
                <data android:mimeType="application/msword"/>
                <data android:mimeType="application/x-rtf"/>
                <data android:mimeType="text/richtext"/>
                <data android:mimeType="application/epub+zip"/>
                <data android:mimeType="application/x-chm"/>
                <data android:mimeType="application/msword"/>
                <data android:mimeType="application/fb2"/>
                <data android:mimeType="application/fb2.zip"/>
                <data android:mimeType="application/epub"/>
                <data android:mimeType="application/x-fictionbook"/>
                <data android:mimeType="application/doc"/>
                <data android:mimeType="application/vnd.msword"/>
                <data android:mimeType="application/vnd.ms-word"/>
                <data android:mimeType="application/winword"/>
                <data android:mimeType="application/word"/>
                <data android:mimeType="application/x-msw6"/>
                <data android:mimeType="application/x-msword"/>
            </intent-filter>
        </activity>

        <!-- Sync support -->
        <service android:name="org.coolreader.sync.SyncService"/>
        <!-- Database service -->
        <service android:name="org.coolreader.db.CRDBService"/>

        <!--<activity-->
        <!--android:name="com.facebook.LoginActivity"-->
        <!--android:label="@string/app_name"/>-->
        <!--<meta-data-->
        <!--android:name="com.facebook.sdk.ApplicationId"-->
        <!--android:value="@string/app_id"/>-->
        <!--
         BroadcastReceiver that will receive intents from GCM
         services and handle them to the custom IntentService.

         The com.google.android.c2dm.permission.SEND permission is necessary
         so only GCM services can send data messages for the app.
       -->
        <receiver
            android:name=".GCMService.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="vn.seasoft.sachcuatui"/>
            </intent-filter>
        </receiver>

        <!--
          Application-specific subclass of GCMBaseIntentService that will
          handle received messages.

          By default, it must be named .GCMIntentService, unless the
          application uses a custom BroadcastReceiver that redefines its name.
        -->
        <service android:name=".GCMService.GCMIntentService"/>
    </application>

</manifest>
